main{
    width: 100%;
    height: 590px;
    margin-bottom: 50px;
    background-color: #fff;    
}

center{
    display: flex;
    justify-content: center;
}

#container{    
    width: 80%;
    height: 580px;
    margin: 30px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;   
}

#container h1{
    margin: 20px;
    padding-bottom: 20px;   
    font-size:4rem;
    text-shadow: 3px 0px 3px rgba(0, 147, 255, 1);
}

#container h2{
    font-size: 2.5rem;
}

.container-img{
    width: 395px;
    height: 320px;
}


#container div img{
    border:4px solid #164e79fc;
    border-radius: 10px;
    margin-bottom: 15px;
}

.container-item-button{    
     margin: 10px;
     height: 58px;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .container-item-button button{
     font-size: 2rem;
     border: 1px solid black;
     padding: 5px;
     background-color: #004AAD;
     color: white;
     border-radius: 3px;
 }
 
 .container-item-button button a{
     text-decoration: none;
     color: white;
     padding: 5px;
 }

 .container-item-button button:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container-item-button button a:hover{
    color:#FF4C29 ;   
}

section{
    width: 100%;
    height: 560px;
    float: left;
    background-color: #fff;
}

@media (max-width: 497px){

    #container div img{
        float: left;
        margin-left: 0;
    }
}