
main{
    width: 100%;
    height: 560px;
    margin-bottom: 30px;
}

section{
    width: 100%;
    height: 560px;
    float: left;
    background-color: #CCC;
}

.container{
    border-radius: 20px;
    border: 5px solid #164e79fc;
    width: 80%;
    height: 530px;
    margin: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    
}

.container h1{
    margin: 30px;
    border-bottom: 2px solid #164e79fc ;
    padding-bottom: 30px;
    font-size: 50px;
}

.container p{
    text-align: justify;
    padding: 40px;
    font-size: 30px;
}
